# Flutter defaults
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/ephemeral/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
android/.gradle/
android/local.properties
android/**/GeneratedPluginRegistrant.java
android/app/debug
android/app/profile
android/app/release

# IDE
.idea/
.vscode/

# OS
*.iml
*.log
*.tmp
.DS_Store
Thumbs.db

